body{
    background-color: #ecf0f1;
}
#menu ul {
    background-color: #1abc9c;
}
#menu li a:hover {
    color: #1abc9c;
}
#sidebar li a:hover{
    background-color: #1abc9c;
}
.populer{
    background-color: #1abc9c;
}
.button{
    background-color: #1abc9c;
}
#footer{
    width: auto;
    height: 70px;
    background-color: #1abc9c;
    border-radius: 8px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    margin-top: 20px;
}
#footer p {
    color:white;
    padding: 30px ;
    text-align: center;
}